@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@layer components {
  .radial{
    background-image: url('./assets/motto.png');
  }
}

@layer base {
  @font-face {
    font-family: Playfair;
    font-weight: 400;
    src: url(./assets/font/Playfair.ttf);
  }
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(./assets/font/Raleway.ttf);
  }


}