@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@layer components {
  /* .radial{
    clip-path: polygon(0 50%, 100% 0,100% 50%,0 100%);  
  }*/
} 

@layer base {
  @font-face {
    font-family: Playfair;
    font-weight: 400;
    src: url(./assets/font/Playfair.ttf);
  }
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(./assets/font/Raleway.ttf);
  }


}