@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@layer components {
  .radial{
    background-image: radial-gradient(circle at center,#9ec7eeb4 70%,#6eace6e5 70%),url('./assets/motto3.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer base {
  @font-face {
    font-family: Playfair;
    font-weight: 400;
    src: url(./assets/font/Playfair.ttf);
  }
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(./assets/font/Raleway.ttf);
  }


}